<div>
    <h1>{{title}}</h1>
</div>
<table *ngIf="!isLoading" class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions">
    <thead>
        <tr>
            <th>No.</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let part of parts">
            <td>{{part.part_id + 1}}</td>
            <td>{{part.part_description}}</td>
            <td><button (click)="viewDetails(part.part_id)" type="button" class="btn btn-info" style="width: 100%;">Info</button></td>
        </tr>
    </tbody>
</table>